
/* Featured Menu Section */
.featured-menu {
    width: 90%; /* Responsive width */
    max-width: 600px; /* Maximum width of the box */
    margin: 2rem auto; 
    padding: 1.5rem; 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    text-align: center; 
    border-radius: 12px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding-top: 130px;
}

.featured-menu h3 {
    font-size: 1.8rem; /* Adjust heading size */
    margin: 0; /* Remove default margin */
    color: #f9c74f; /* Gold color for the heading */
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    background-color: #070606;
}

table, th, td {
    border: 1px solid #ecb9b9;
}

th, td {
    padding: 1rem;
    text-align: left;
}
td:hover{
    background-color: #ede97c;
    color: black;
}
th:hover{
    background-color: #ffffff;
    color: black;
}
th {
    color: rgb(226, 217, 217);
    font-weight: bold;
}

/* Responsive Table */
@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 0.8rem;
    }
}


/* Menu Section */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
}

.menu {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    padding: 20px;
    text-align: center;
    color: #eff2f4;
}

.menu-text .title p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-text .des {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #318ddd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #257abb;
}

/* Responsive Styles */
@media (max-width: 768px) {

    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 100%;
        max-width: 100%;
        padding: 1.5rem;
    }

    .menu-text .title p {
        font-size: 1.5rem;
    }

    .menu-text .des {
        font-size: 1rem;
    }

    .menu-button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .menu-text .title p {
        font-size: 1.2rem;
    }

    .menu-button {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }
}


